[include shell_command.cfg]
# This file contains pin mappings for the stock 2020 Creality Ender 3
# Pro with the 32-bit Creality 4.2.2 board. To use this config, during
# "make menuconfig" select the STM32F103 with a "28KiB bootloader" and
# serial (on USART1 PA10/PA9) communication.

# It should be noted that newer variations of this printer shipping in
# 2022 may have GD32F103 chips installed and not STM32F103. You may
# have to inspect the mainboard to ascertain which one you have. If it
# is the GD32F103 then please select Disable SWD at startup in the
# "make menuconfig" along with the same settings for STM32F103.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.
[include fluidd.cfg]
[include klackender.cfg]
[include macros.cfg]

[exclude_object]

[force_move]
enable_force_move: True

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 250
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
# tx_pin: PC10
uart_address: 0
run_current: 0.420
# hold_current: 0.500
#stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: -8
position_min: -8
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
# tx_pin: PC10
uart_address: 1
run_current: 0.580
# hold_current: 0.500
#stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0.0
position_min: -8
position_max: 250

[tmc2209 stepper_z]
uart_pin: PC11
# tx_pin: PC10
uart_address: 2
run_current: 0.420
# hold_current: 0.500
stealthchop_threshold: 999999

[extruder]
max_extrude_only_distance: 500.0
max_extrude_only_velocity: 120
max_extrude_cross_section: 2.5
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
# pressure_advance: 0.025
# pressure_advance_smooth_time: 0.03
heater_pin: PC8
sensor_type: Generic 3950
sensor_pin: PA0
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: -100
max_temp: 275

[tmc2209 extruder]
uart_pin: PC11
# tx_pin: PC10
uart_address: 3
interpolate: true
run_current: 0.60
# hold_current: 0.10
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

# Part Cooling Fan
[fan]
pin: PC6

# Hotend Cooling
[heater_fan nozzle_cooling_fan]
pin: PC7
heater: extruder

# Board Cooling
[heater_fan controller_fan]
pin: PB15
heater: heater_bed

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2D00270005504E5238363120-if00
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 5000
max_z_velocity: 5
max_z_accel: 100

# Pin mappings for BL_T port
#[bltouch]
#sensor_pin: ^PB1
#control_pin: PB0

#[display]
#lcd_type: st7920
#cs_pin: PB12
#sclk_pin: PB13
#sid_pin: PB15
#encoder_pins: ^PB14, ^PB10
#click_pin: ^!PB2

[screws_tilt_adjust]
screw1: 25, 7
screw1_name: front left screw
screw2: 195, 7
screw2_name: front right screw
screw3: 195, 181
screw3_name: rear right screw
screw4: 25, 181
screw4_name: rear left screw
horizontal_move_z: 10
speed: 100
screw_thread: CW-M4

[bed_screws]
screw1: 30.5, 37
screw2: 30.5, 207
screw3: 204.5, 207
screw4: 204.5, 37

[board_pins]
aliases:
    # EXP1 Header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = -0.190
#*#
#*# [bed_mesh bk-default]
#*# version = 1
#*# points =
#*# 	-0.100902, -0.065902, -0.054652, -0.137152, -0.177152
#*# 	-0.070902, -0.014652, -0.000902, -0.083402, -0.147152
#*# 	-0.124652, -0.024652, 0.001598, -0.055902, -0.090902
#*# 	-0.120902, -0.028402, -0.015902, -0.088402, -0.157152
#*# 	-0.133402, -0.048402, -0.048402, -0.158402, -0.232152
#*# min_x = 8.0
#*# max_x = 223.0
#*# min_y = 30.0
#*# max_y = 201.0
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [bed_mesh bk-2-default]
#*# version = 1
#*# points =
#*# 	-0.036808, -0.018058, -0.029308, -0.110558, -0.174308
#*# 	-0.043058, 0.009442, 0.005692, -0.073058, -0.161808
#*# 	-0.088058, -0.010558, 0.001942, -0.065558, -0.109308
#*# 	-0.080558, -0.020558, -0.016808, -0.081808, -0.159308
#*# 	-0.120558, -0.053058, -0.051808, -0.139308, -0.166808
#*# min_x = 8.0
#*# max_x = 223.0
#*# min_y = 30.0
#*# max_y = 201.0
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.121148, -0.131148, -0.099898, -0.127398, -0.158648
#*# 	-0.027398, -0.014898, 0.015102, -0.021148, -0.118648
#*# 	-0.032398, -0.023648, 0.001352, -0.052398, -0.137398
#*# 	-0.082398, -0.069898, -0.012398, -0.024898, -0.086148
#*# 	-0.101148, -0.103648, -0.084898, -0.119898, -0.163648
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 8.0
#*# max_x = 223.0
#*# min_y = 30.0
#*# max_y = 201.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 39.749
#*# pid_ki = 12.619
#*# pid_kd = 31.302
